<div class="container">

  <!-- <div class="col md 6"> -->
    
    <div class="chart1">

    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>

    <!-- </div> -->
</div>

<!-- <div class="col md 6"> -->
<div class="chart2">

  <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType"
    (chartHover)="chartHovered1($event)" (chartClick)="chartClicked1($event)"></canvas>

  <!-- </div> -->

  
</div>

</div>
<div class="button">


  
    <mat-button-toggle-group  id="nebtnk" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">Day</mat-button-toggle>
      <mat-button-toggle value="bold">Month</mat-button-toggle>
      <mat-button-toggle value="bold">Year</mat-button-toggle>
    </mat-button-toggle-group>
  
  </div>