<div class="container-fluid"> 
    <div class="contact">
    <h3>Contact Us</h3>

<div class="span3">
    Unit No. 110, IRIS Tech,
    Park, Sector 48,
    Sohna Road,
    Gurgaon, India,
    122018,
<br>
    +91.11.66488033 
    +1.707.691.0744 
    +44.142.520.8536 
    +61.8.7078.8023 
    +65.3138.9043 
    info@oodlestechnologies.com 
    oodles.crm
</div>

<div class="span3">

    Unit No. 159, Tower B1,
    Spaze I-Tech Park,
    Sector 49, Sohna Road
    Gurgaon, India,
    122018
</div>
<div class="span3">

    Unit No. 951-955, Tower B1,
    Spaze I-Tech Park,
    Sector 49, Sohna Road
    Gurgaon, India,
    122018
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14036.30373320187!2d77.03916415!3d28.416965549999997!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1541138117545" 
width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
