
@media (min-width: 576px){


.signinBox{
    width: 400px;
    margin: 10% auto;
    background-color: #FFFFFF;
    padding: 40px;
    border: 1px  solid #a0c7d4;

} 

.form-group{
    padding-top: 10px;
}
.newu{
    text-align: center;
  
}


#ruser{
    color: rgb(55, 192, 128);
  
}


#signIn{
    margin-top: 5px ;
    background-color: #20A8D8;
    border: 1px solid #20A8D8;
  
    
    
}
.dropdown-divider{
    margin-top: 10px;
}
#signUp{
   margin:0 60px; 
   margin-top: 30px;
   text-align: center;
}
.dropdown-item{
    text-align: center;
}
label{
    color: gray;
}



#fgt1{
    margin-top: 15%;
    padding: 10px;
    margin-left: 25%;
    color: #15b7ed
}
}



