
img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

#imageid{
    height: 50%;
    width: 50%;
    padding: 30px;
    align-items: center;
}
@media (min-width: 540px)
{
h1{
   margin-left: 250px;
}
.backbtn{
  margin-left: 250px;

}
}
