
  <div class="container">
      <h1>About Us</h1>
     
  </div>
  <p>We are a team of seasoned professionals with extensive experience 
      and proven track record in our area of expertise. Our Mission is to create user-friendly 
      internet-based applications that solve complex technology-related problems and deliver a smart business
       solution.We are committed to developing agile applications that help you out-perform the competition 
       and keep you ahead of the innovation curve. Please refer to brief profiles of some of our team members below.
      </p>
