<div class="container-fluid ">
  <div class="card-body p-4">
    <h1>Register</h1>
    <form #userForm="ngForm" (ngSubmit)="submitform(userForm.value)" novalidate>

      <div class="form-group">
        <label>Create Your Account</label>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user-o" aria-hidden="true"></i>

            </span>
          </div>
          <input type="text" name="name" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
            class="form-control " [(ngModel)]="usersModel.name" placeholder="Name">

        </div>
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">@
            </span>
          </div>
          <input type="text" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched" required class="form-control" name="email" [(ngModel)]="usersModel.email"
            placeholder="Email">

        </div>
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>

          <input type="password" name="password" pattern="(?=^.{6,255}$)((?=.*\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*"
            #password="ngModel" [class.is-invalid]="password.invalid && password.touched" required class="form-control "
            name="password" [(ngModel)]="usersModel.password" placeholder="Password">

        </div>

        <div *ngIf="password.errors && (password.invalid || password.touched)">
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required</small>
          <small class="text-danger" *ngIf="password.errors.pattern"> min one lower case letter, one upper case letter,
            one digit,1 special character 6-13 length</small>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-mobile" aria-hidden="true"></i>
            </span>
          </div>

          <input type="tel" #phone="ngModel" pattern="^\d{10}$" required [class.is-invalid]="phone.invalid && phone.touched"
            class="form-control" [(ngModel)]="usersModel.phone" name="phone" [ngModelOptions]="{standalone:
              true}">
        </div>
        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
          <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
          <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>

        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-male" aria-hidden="true"></i>
            </span>
          </div>
          <select class="custom-select" [(ngModel)]="usersModel.gender" [ngModelOptions]="{standalone:
            true}">>
            <option value="gender" placeholder="Gender">Choose Gender</option>
            <option *ngFor="let gendr of gender">{{ gendr }}</option>
          </select>
        </div>
      </div>

      <button id="btn" [disabled]="!userForm.form.valid" type="submit" class="btn btn-success" (click)="onSubmit"
        routerLink="/sidebar">Register</button>

    </form>
    <div class="item" >
        <a  class="shadow p-1 mb-5 bg-white rounded" routerLink="/signin">Already User? Login</a>
    </div>
    
  </div>
  <hr>
  <div class="row">
<div class="col-6">
    <button class="btn btn-block btn-facebook" type="button" id="fb">
        <span>facebook</span>
      </button>
</div>
    <div class="col-6">
        <button class="btn btn-block btn-twitter" id="tw" type="button">
            <span>twitter</span>
          </button>
      
    </div>
   
  </div>

</div>