

@media(min-width: 576px){
    #btn{
   /* margin: 3%; */
   padding: 5px;
   /* margin: 10px; */
   width: 100%;
    
    
}
#goback{
    margin: 10px;
}
.item{
  
 
  margin-top: 12px;
 
  text-align: center;
}
/* .custom-select{
    margin-top: 10px;;
} */
.container-fluid{
    width: 25%;
    padding: 10px;
    height: 15%;
    position: relative;
    left: 2%;;
    right: 20%;
    top: 170px;
    border: 1px rgb(214, 209, 209) solid;
    background-color: white;
    color: gray;
}
h1{
    font-size: 2.18rem;
    color: black;
}
#fb{
    width: 100%;
    /* left: 10px; */
    background-color: rgb(41, 68, 122);
    color: white;
}
#tw{
    /* right: 10px; */
    width: 100%;
    background-color: #29b1e2;
    color: white;
}
.row{
    margin-bottom: 10px;
}

}
