<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand">
    <img src="assets/favicon.ico" routerLink="/sidebar/home" alt="brandname">
  </a>
  <span style="font-size:30px;cursor:pointer" appCusdirectv (click)="openNav()">&#9776;</span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" appCusdirectv routerLink="/sidebar/home">Dashboard <span class="sr-only">(current)</span>

        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link" appCusdirectv routerLink="/sidebar">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" appCusdirectv routerLink="/sidebar">Settings</a>
      </li>
    </ul>
  </div>

  <a class="nav-link" id="mess">

    <i class="fa fa-envelope-o" aria-hidden="true" appCusdirectv routerLink="/sidebar/leftnav">
      <span class="badge badge-pill badge-info">7</span>

    </i>
  </a>


  <div appCusdirectv class="btn-group">
    <img appCusdirectv src="assets/profile1.jpg" appCusdirectv height="35px" width="35px" id="krist" alt="profilesimg"
      class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button" routerLink="/sidebar">Account</button>
      <button class="dropdown-item" type="button" routerLink="/sidebar">Settings</button>
      <button class="dropdown-item" type="button" routerLink="/signin">Log Out</button>
    </div>
  </div>

</nav>

<!-- <div class="container"> -->

  <div class="sidenav" #openSide>

    <a routerLink="/sidebar/home" >Dashboard</a>
    <a routerLink="/sidebar/client">Clients</a>
    <a routerLink="/sidebar/contact">Contact</a>

    <mat-expansion-panel id="sidm" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title id="secnd">
          Dropdown <i class="fa fa-caret-down"></i>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a routerLink="/sidebar/gallary">Gallary</a>
      <a routerLink="/sidebar/gallary">Link 2</a>
      <a routerLink="/sidebar">Link 3</a>
    </mat-expansion-panel>
    <a routerLink="/sidebar/about">About</a>
  </div>


  <div class="main" #pushArea>
    <div class="panelNav">
      <div class="btn-group" dropdown>

      </div>

    </div>
    <router-outlet></router-outlet>
  </div>
<!-- </div> -->