form{background-color: white;
width: 20%;
height: 25%;
position: absolute;
left: 50%;
top: 40%;
transform: translate(-50%, -50%);
border: 1px solid black;
padding: 50px;
margin:40px;
}
.btn-success {
    margin: 30px;
    margin-left: -1px;
    background-color: #15b7ed;
    
 
}
