@media(min-width: 576px){
    #btn{
    margin: 15%;
    margin-left: 35%;
    
}
#goback{
    margin: 10px;
}
.dropdown-item{
    margin-left: 20%;
}
.container{
    width: 30%;
    margin: 30px;
    padding: 60px;
    position: relative;
    left: 35%;
    right: 40%;
    top: 10%;
    border: 1px #dfdfdf solid;
    background-color: #18bbf2;
}
}